/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
.phpunit.result.cache
/.phpunit.cache
/.vscode
/.idea
auth.json
npm-debug.log
yarn-error.log
